/* #PRODUIRE{fond=css/barre_outils_icones.css,hash=c55d4fe2136e0ac725e254149b6d1093}
   md5:3aaff92e938c01a11b26a6d0eab9d269 */

.markItUp .outil_header1>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -226px}
.markItUp .outil_bold>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -478px}
.markItUp .outil_italic>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -586px}
.markItUp .outil_stroke_through>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -946px}
.markItUp .outil_liste_ul>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -622px}
.markItUp .outil_liste_ol>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -658px}
.markItUp .outil_indenter>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -514px}
.markItUp .outil_desindenter>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -550px}
.markItUp .outil_quote>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -442px}
.markItUp .outil_poesie>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -1050px}
.markItUp .outil_link>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -298px}
.markItUp .outil_notes>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -334px}
.markItUp .outil_guillemets>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -910px}
.markItUp .outil_guillemets_simples>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -802px}
.markItUp .outil_guillemets_de>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -766px}
.markItUp .outil_guillemets_de_simples>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -838px}
.markItUp .outil_guillemets_uniques>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -874px}
.markItUp .outil_caracteres>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -262px}
.markItUp .outil_a_maj_grave>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -82px}
.markItUp .outil_e_maj_aigu>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -154px}
.markItUp .outil_e_maj_grave>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -190px}
.markItUp .outil_aelig>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -46px}
.markItUp .outil_aelig_maj>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -10px}
.markItUp .outil_oe>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -406px}
.markItUp .outil_oe_maj>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -370px}
.markItUp .outil_ccedil_maj>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -118px}
.markItUp .outil_uppercase>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -730px}
.markItUp .outil_lowercase>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -694px}
.markItUp .outil_code>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -1086px}
.markItUp .outil_cadre>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -1122px}
.markItUp .outil_clean>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -982px}
.markItUp .outil_preview>a>em {background-image:url(//localhost/lpro/mp2/plugins-dist/porte_plume/icones_barre/spt-v1.png);background-position:-10px -1018px}

/* roue ajax */
.ajaxLoad{
		position:relative;
}
.ajaxLoad:after {
		content:"";
		display:block;
		width:40px;
		height:40px;
		border:1px solid #eee;
		background:#fff url('//localhost/lpro/mp2/prive/images/searching.gif') center no-repeat;
		position:absolute;
		left:50%;
		top:50%;
		margin-left:-20px;
		margin-top:-20px;
}
.fullscreen .ajaxLoad:after {
		position:fixed;
		left:75%;
}
