/* #PRODUIRE{fond=css/plan_prive.css}
   md5:c3c16c629771db91756b7e8071544970 */

.plan #contenu p.removable { cursor:pointer; }
.plan #contenu p.removable:hover { opacity:.6; }
#mytree_actions { margin-bottom:1em; margin-top:1em; }
#mytree_actions input,
#mytree_actions .pliage { margin-right:2em; }
#mytree_actions .statut {
	padding-left:20px;
	background: transparent left 5px no-repeat;
	display:inline-block;
}
#mytree_actions .statut form { display:inline; }
#mytree_actions .statut form optgroup {
	margin-top:.3em; padding:5px 5px 5px 25px;
	background: transparent 3px 5px no-repeat;
}
#mytree_actions .statut form option {
	padding:2px 2px 2px 20px;
	background: transparent 2px center no-repeat;
}

#mytree_actions .statut.articles {
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/article-16.png');
}
#mytree_actions .statut form optgroup.articles {
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/article-16.png');
}


#mytree_actions .statut form option.articles-prepa{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-preparer-8.png');
}


#mytree_actions .statut form option.articles-prop{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-proposer-8.png');
}


#mytree_actions .statut form option.articles-publie{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-publier-8.png');
}


#mytree_actions .statut form option.articles-refuse{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-refuser-8.png');
}


#mytree_actions .statut form option.articles-poubelle{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-supprimer-8.png');
}


#mytree_actions .statut.syndic {
	background-image: url('http://localhost/lpro/mp2/plugins-dist/sites/prive/themes/spip/images/site-16.png');
}
#mytree_actions .statut form optgroup.syndic {
	background-image: url('http://localhost/lpro/mp2/plugins-dist/sites/prive/themes/spip/images/site-16.png');
}


#mytree_actions .statut form option.syndic-prop{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-proposer-8.png');
}


#mytree_actions .statut form option.syndic-publie{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-publier-8.png');
}


#mytree_actions .statut form option.syndic-refuse{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-refuser-8.png');
}


#mytree_actions .statut.breves {
	background-image: url('http://localhost/lpro/mp2/plugins-dist/breves/prive/themes/spip/images/breve-16.png');
}
#mytree_actions .statut form optgroup.breves {
	background-image: url('http://localhost/lpro/mp2/plugins-dist/breves/prive/themes/spip/images/breve-16.png');
}


#mytree_actions .statut form option.breves-prop{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-proposer-8.png');
}


#mytree_actions .statut form option.breves-publie{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-publier-8.png');
}


#mytree_actions .statut form option.breves-refuse{
	background-image: url('http://localhost/lpro/mp2/prive/themes/spip/images/puce-refuser-8.png');
}


.plan .jstree-icon.rubrique {
	background:url('http://localhost/lpro/mp2/prive/themes/spip/images/rubrique-16.png') center center no-repeat;
}
.plan .menu-items .menu-items { margin-top:.5em; }
.plan .menu-items .item.group { margin-bottom: 1em; padding-top: 5px; }
.plan .menu-items.rubriques .item > a {
	padding-left:20px;
	background:url('http://localhost/lpro/mp2/prive/themes/spip/images/rubrique-16.png') center left no-repeat;
}
.plan .jstree .puce_objet { margin-right:2px; }
.plan .jstree.drag .item .jstree-icon { cursor: move; }
.plan .jstree.drag .item .jstree-ocl { cursor: pointer; }

.plan .jstree-icon.article {
	background:url('http://localhost/lpro/mp2/prive/themes/spip/images/article-16.png') center center no-repeat;
}
.plan .menu-items.articles .item > a ,
.plan .menu-items.articles .item > strong {
	padding-left:20px;
	background:url('http://localhost/lpro/mp2/prive/themes/spip/images/article-16.png') center left no-repeat;
}

.plan .jstree-icon.site {
	background:url('http://localhost/lpro/mp2/plugins-dist/sites/prive/themes/spip/images/site-16.png') center center no-repeat;
}
.plan .menu-items.syndic .item > a ,
.plan .menu-items.syndic .item > strong {
	padding-left:20px;
	background:url('http://localhost/lpro/mp2/plugins-dist/sites/prive/themes/spip/images/site-16.png') center left no-repeat;
}

.plan .jstree-icon.breve {
	background:url('http://localhost/lpro/mp2/plugins-dist/breves/prive/themes/spip/images/breve-16.png') center center no-repeat;
}
.plan .menu-items.breves .item > a ,
.plan .menu-items.breves .item > strong {
	padding-left:20px;
	background:url('http://localhost/lpro/mp2/plugins-dist/breves/prive/themes/spip/images/breve-16.png') center left no-repeat;
}

