<div class="ajax formulaire_spip formulaire_configurer formulaire_#FORM formulaire_#FORM-#ENV{id,nouveau}">
	<h3 class="titrem">Titre du formulaire</h3>
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV**{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV**{message_erreur})</p>]
	<h4>Des fois on utilise un sous-titre (Étape 1/N)</h4>
	<p>Un texte d'introduction, qui peut parfois être sur plusieurs lignes.
		Un texte d'introduction, qui peut parfois être sur plusieurs lignes.
		Un texte d'introduction, qui peut parfois être sur plusieurs lignes.
		Un texte d'introduction, qui peut parfois être sur plusieurs lignes.
	</p>
	<ul class="spip">
		<li>avec une énumération</li>
		<li>de plusieurs items</li>
		<li>qui doivent «bien tomber»</li>
	</ul>
	[(#ENV{editable})
	<form method='post' action='#ENV{action}'><div>
		[(#REM) déclarer les hidden qui déclencheront le service du formulaire
		paramêtre : url d'action ]
		#ACTION_FORMULAIRE
		#SET{fl,charter}
		<p class="explication">Des explications préliminaires, en début de formulaire</p>
		<fieldset>
			<legend><:charter:legend:></legend>
				<p class="explication">Des explications dans un fieldset</p>
				<div class="editer-groupe">
				<!--EX01-->
				#SET{name,text}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name},#GET{defaut}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
				</div>
				<!--EX02-->
				#SET{name,select}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<select name="#GET{name}" class="select" id="#GET{name}">
						#SET{val,oui}
						<option value="#GET{val}"[(#ENV{#GET{name},#GET{defaut}}|=={#GET{val}}|oui)selected="selected"]>[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</option>
						#SET{val,non}
						<option value="#GET{val}"[(#ENV{#GET{name},#GET{defaut}}|=={#GET{val}}|oui)selected="selected"]>[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</option>
					</select>
				</div>
				<!--EX03-->
				#SET{name,text_obli}#SET{obli,'obligatoire'}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name},#GET{defaut}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<legend><:charter:legend:></legend>
			<div class="editer-groupe">
				<!--EX04-->
				#SET{name,text}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]
					<p class="explication" id="#GET{name}_explication">Des explications au dessus d'un champ de saisie</p>
					<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name},#GET{defaut}}" id="#GET{name}" aria-describedby="#GET{name}_explication" [(#HTML5|et{#GET{obli}})required='required']/>
				</div>
				<!--EX05-->
				#SET{name,text_obli}#SET{obli,'obligatoire'}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name},#GET{defaut}}" id="#GET{name}" aria-describedby="#GET{name}_explication" [(#HTML5|et{#GET{obli}})required='required']/>
					<p class="explication" id="#GET{name}_explication">Des explications après un champ de saisie</p>
				</div>
				<!--EX06-->
				#SET{name,textarea}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<textarea name="#GET{name}" id="#GET{name}" class="textarea" rows="2">
#ENV*{#GET{name},#GET{defaut}}</textarea>
				</div>
				<!--EX07-->
				#SET{name,textarea_pleine_largeur}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer pleine_largeur editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<textarea name="#GET{name}" id="#GET{name}" class="textarea" rows="4">
#ENV*{#GET{name},#GET{defaut}}</textarea>
				</div>
				#SET{name,textarea_pleine_largeur_obli}#SET{obli,'obligatoire'}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer pleine_largeur editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<textarea name="#GET{name}" id="#GET{name}" class="textarea" rows="6">
#ENV*{#GET{name},#GET{defaut}}</textarea>
				</div>
				<!--EX08-->
				#SET{name,text_long_label}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name},#GET{defaut}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
				</div>
				<!--EX09-->
				#SET{name,radio}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label>[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]
					<p class="explication" id="#GET{name}_explication">Des explications au-dessus d'un choix</p>
					#SET{val,oui}
					<div class="choix">
						<input type="radio" name="#GET{name}" class="radio" id="#GET{name}_#GET{val}" value="#GET{val}" aria-describedby="#GET{name}_explication" [(#ENV{#GET{name},#GET{defaut}}|=={#GET{val}}|oui)checked="checked"] />
						<label for="#GET{name}_#GET{val}">[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</label>
					</div>
					#SET{val,non}
					<div class="choix">
						<input type="radio" name="#GET{name}" class="radio" id="#GET{name}_#GET{val}" value="#GET{val}" aria-describedby="#GET{name}_explication" [(#ENV{#GET{name},#GET{defaut}}|=={#GET{val}}|oui)checked="checked"] />
						<label for="#GET{name}_#GET{val}">[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</label>
					</div>
				</div>
				<!--EX09b-->
				#SET{name,checkbox_ouiounon}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label>[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]
					<p class="explication" id="#GET{name}_explication">Des explications au-dessus d'un choix</p>
					<div class="choix">
						#SET{val,non}
						<input type="hidden" name="#GET{name}" value="#GET{val}" />
						#SET{val,oui}
						<input type="checkbox" name="#GET{name}" class="checkbox" id="#GET{name}_#GET{val}" value="#GET{val}" aria-describedby="#GET{name}_explication" [(#ENV{#GET{name},#GET{defaut}}|=={#GET{val}}|oui)checked="checked"] />
						<label for="#GET{name}_#GET{val}">[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</label>
					</div>
				</div>
				<!--EX10-->
				#SET{name,checkbox}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label>[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]
					#SET{val,1}
					<div class="choix">
						<input type="checkbox" name="#GET{name}\[\]" class="checkbox" id="#GET{name}_#GET{val}" value="#GET{val}" aria-describedby="#GET{name}_explication" [(#GET{val}|in_any{#ENV{#GET{name},#GET{defaut}}}|oui)checked="checked"] />
						<label for="#GET{name}_#GET{val}">[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</label>
					</div>
					#SET{val,2}
					<div class="choix">
						<input type="checkbox" name="#GET{name}\[\]" class="checkbox" id="#GET{name}_#GET{val}" value="#GET{val}" aria-describedby="#GET{name}_explication" [(#GET{val}|in_any{#ENV{#GET{name},#GET{defaut}}}|oui)checked="checked"] />
						<label for="#GET{name}_#GET{val}">[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</label>
					</div>
					<p class="explication" id="#GET{name}_explication">Des explications au-dessous d'un choix</p>
				</div>

				<!--EX11-->
				#SET{name,checkbox_long_label}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
				<div class="editer long_label editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
					<label>[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
					<span class='erreur_message'>(#GET{erreurs})</span>
					]
					#SET{val,1}
					<div class="choix">
						<input type="checkbox" name="#GET{name}\[\]" class="checkbox" id="#GET{name}_#GET{val}" value="#GET{val}"[(#GET{val}|in_any{#ENV{#GET{name},#GET{defaut}}}|oui)checked="checked"] />
						<label for="#GET{name}_#GET{val}">[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</label>
					</div>
					#SET{val,2}
					<div class="choix">
						<input type="checkbox" name="#GET{name}\[\]" class="checkbox" id="#GET{name}_#GET{val}" value="#GET{val}"[(#GET{val}|in_any{#ENV{#GET{name},#GET{defaut}}}|oui)checked="checked"] />
						<label for="#GET{name}_#GET{val}">[(#GET{fl}|concat{':label_',#GET{name},'_',#GET{val}}|_T)]</label>
					</div>
				</div>

				<div class="fieldset">
					<fieldset>
						<legend><:charter:legend:></legend>
						<div class="editer-groupe">
							<!--EX12-->
							#SET{name,text}#SET{obli,''}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
							<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
								<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
								<span class='erreur_message'>(#GET{erreurs})</span>
								]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name},#GET{defaut}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
							</div>
							<!--EX13--> 
							#SET{name,text_obli}#SET{obli,'obligatoire'}#SET{defaut,''}#SET{erreurs,#ENV**{erreurs}|table_valeur{#GET{name}}}
							<div class="editer editer_[(#GET{name})][ (#GET{obli})][ (#GET{erreurs}|oui)erreur]">
								<label for="#GET{name}">[(#GET{fl}|concat{':label_',#GET{name}}|_T)]</label>[
								<span class='erreur_message'>(#GET{erreurs})</span>
								]<input type="text" name="#GET{name}" class="text" value="#ENV*{#GET{name},#GET{defaut}}" id="#GET{name}" [(#HTML5|et{#GET{obli}})required='required']/>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</fieldset>
	  [(#REM) ajouter les saisies supplémentaires : extra et autre, à cet endroit ]
	  <!--extra-->
		<p class="explication">Cliquez sur <q>Annuler</q> pour tester les messages d'erreur et sur <q>Enregistrer</q> pour tester les messages de succès.</p>
	  <p class='boutons'><span class='image_loading'>&nbsp;</span>
			<input type='submit' name="cancel" class='submit' value='<:bouton_annuler|attribut_html:>' />
			<input type='submit' class='submit' value='<:bouton_enregistrer|attribut_html:>' /></p>
	</div></form>
	]
	[(#ENV{editable}|non)
	  <p class='boutons'><span class='image_loading'>&nbsp;</span>
			<input type='submit' name="cancel" class='submit' value='<:bouton_fermer|attribut_html:>' onclick="$.modalboxclose();return false;" />
	]
</div>