@import "bootstrap/css/_reboot";

// Body reset
// -------------------------

/* On peut fournir un texte alternatif dans le <i></i> de l'icon, il est masque */
[class^="icon-"],
[class*=" icon-"] {
	text-indent: 100px;
	overflow: hidden;
}

/* Logos, documents et images */
/*
.spip_logo {}

.spip_documents_left,
.spip_documents_right,
.spip_documents_center img,
.spip_documents:not(.spip_documents_left):not(.spip_documents_right) img,
.spip_logo {
  // .img-polaroid ou .img-rounded ou .img-circle
}
*/

.spip_documents { margin-top: $rem-vert-margin;margin-bottom: $rem-vert-margin; background: none; }
.spip_documents,
.spip_documents_center,
.spip_doc_titre,
.spip_doc_descriptif { margin-right: auto; margin-left: auto; text-align: center; max-width: 100%;}
.spip_documents_center { clear: both; display: block; width: 100%;}

dl.spip_documents { dt,dd {margin-left:auto;margin-right:auto;padding-left:0;padding-right:0}}

.spip_documents_left { float: left; margin: $padding-y-lg $padding-x-lg;margin-left: 0; }
.spip_documents_right { float: right; margin: $padding-y-lg $padding-x-lg;margin-right: 0; }
.spip_doc_titre {}
.spip_doc_descriptif { clear: both; }

.cartouche {&:last-child{margin-bottom: 0};margin-bottom: $rem-vert-margin;}
.cartouche,.hero-unit,.entry-title {
  .spip_logo {float: right; clear: right; margin: $padding-y-lg $padding-x-lg; margin-top: 0;margin-right: 0; line-height: 1px;}
}
.cartouche,.hero-unit,.entry{
  h1+.publication {margin-top: -1 * $rem-vert-margin;}
  .publication {
    opacity: 80%;
  }
}
.entry {margin-bottom: $rem-vert-margin;}
.secondary .entry-title .spip_logo { margin: $padding-y-sm $padding-x-sm; margin-top: 0;margin-right: 0; }
.postmeta >:first-child >.sep:first-child {display: none}

/* Notes */
.notes {
  @include font-size($small-font-size);
  padding-top: $rem-vert-margin;
  margin-top: $rem-vert-margin;
  max-width: 40em;
}

.notes > h2 {border-bottom: 2px solid lighten($gray-500, 20%);}
.notes > div p {font-size: inherit;line-height: inherit;font-weight: 200;}
.notes > div {padding-left: 3 * $grid-gutter-width; position: relative; }
.notes .spip_note_ref { display:block;position:absolute;left:0;width: 2 * $grid-gutter-width;}
.secondary {
  .notes > div {padding-left: 2 * $grid-gutter-width;}
  .notes .spip_note_ref { width: 2 * $grid-gutter-width;}
}

/* Liens */
a {
  @include hover-focus-active {
    background-color: $link-hover-bg;
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}
a[hreflang]:after { content: "\0000a0[" attr(hreflang) "] "; color:$text-muted}
@media print {
  a, a:visited { color: $body-color; text-decoration: underline; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
}

/* Liens de SPIP */
a.spip_note { font-weight: bold; } /* liens vers notes de bas de page */
a.spip_in {} /* liens internes */
a.spip_mail {}
a.spip_out:after { content: "\002b08 "; color:$text-muted } /* liens sortants */
a.spip_out[hreflang]:after { content: "\002b08\0000a0(" attr(hreflang) ") "; color:$text-muted}

a.spip_url {} /* liens url sortants */
a.spip_glossaire {} /* liens vers encyclopedie */
@media print {
	a.spip_out:after,
	a.spip_url:after { content: " (" attr(href) ")"; }
}

.on { font-weight: bold; }
