<div class="formulaire_spip formulaire_recherche[ (#ENV{class})]" id="formulaire_recherche">
	<form action="[(#ENV{action})]" method="get">
			<div class="editer-groupe">
			[(#ENV{action}|form_hidden)]
			[<input type="hidden" name="lang" value="(#ENV{lang})" />]
			<div class="input-group">
				<input type="[(#HTML5|?{search,text})]" class="search text form-control" size="10" name="recherche" id="#ENV{_id_champ}"[ value="(#ENV{recherche})"] accesskey="4" autocapitalize="off" autocorrect="off" placeholder="Rechercher..."/>
				<div class="input-group-append">
					<button type="submit" class="submit btn btn-info" title="<:info_rechercher:>"><i class="fas fa-search"></i></button>
				</div>
			</div>
		</div>
	</form>
</div>
