<BOUCLE_menu(MENUS){id_menu?}{identifiant?}>
	<B_entrees>
	<ul class="menu-liste menu-items[ (#ENV{class})][(#VAL{_MENUS_EXTRA_CLASS}|defined|oui)[(#VAL{_MENUS_EXTRA_CLASS}|constant)]][ (#CHAMP_SQL{css})]"[ data-depth="(#ENV{depth,0})"]>
		<BOUCLE_entrees(MENUS_ENTREES){id_menu}{par rang}>#SET{entree,''}
		[(#MENUS_AFFICHER_ENTREE)#SET{entree,' '}
			]<BOUCLE_sous_menu(MENUS){id_menus_entree}>
				<INCLURE{fond=inclure/menu, env, id_menu, identifiant, depth=#ENV{depth,0}|plus{1}} /></BOUCLE_sous_menu>[(#REM)
			On ferme le li si le type d'entrée accepte des sous-menus
			et si on a bien quelque chose dans le li (cas des menus sur Balise SESSION)
		][(#GET{entree}|et{#TYPE_ENTREE|menus_type_refuser_sous_menu|non})
		</li>]
		</BOUCLE_entrees>
	</ul>
	</B_entrees>
</BOUCLE_menu>
#FILTRE{trim}
