[(#REM)
	Head standard de toutes les pages ;
	les elements specifiques (title, description) figurent dans chaque squelette
 
]
<meta http-equiv="Content-Type" content="text/html; charset=#CHARSET" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

[(#REM) Lien vers le flux RSS du site ]
[<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="(#URL_PAGE{backend})" />]

[(#REM) 
      On appelle les feuilles de style 
      dans l'ordre de la methode daisy http://daisy.tetue.net/img/daisy-nomenclature.png   

      1. Base CSS http://tinytypo.tetue.net/ ]   
[<link rel="stylesheet" href="(#CHEMIN{css/reset.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/clear.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/font.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/links.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/typo.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/media.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/form.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/grid.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/layout.css}|direction_css)" type="text/css" />]

[(#REM) 2. Style SPIP et ses plugins ]
[<link rel="stylesheet" href="(#CHEMIN{css/spip.css}|direction_css)" type="text/css" />]
#INSERT_HEAD_CSS

[(#REM) 3. Vos feuilles de style pour l'habillage du site a) theme, b) variante, c) specifique ]
[<link rel="stylesheet" href="(#CHEMIN{css/theme.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/variante.css}|direction_css)" type="text/css" />]
[<link rel="stylesheet" href="(#CHEMIN{css/perso.css}|direction_css)" type="text/css" />]

[(#REM)
	Balise permettant aux plugins d'inserer des appels javascript ;
	4. C'est ici que SPIP va inserer l'appel de la librairie jQuery
	5. Et appeler a la fin compacte_head pour agreger et compacter tout le head dans des fichiers statiques si l'option est cochee dans Configuration
]
#INSERT_HEAD

[(#REM) 6. Vos scripts ]
[<script src="(#CHEMIN{js/script.js})" type="text/javascript"></script>]

[(#REM) Fierement fabrique avec SPIP ]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />

[(#REM) Favicon ]
[<link rel="icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />
[<link rel="shortcut icon" type="image/x-icon" href="(#CHEMIN{favicon.ico})" />]]

[(#REM) meta robots ]
[<meta name="robots" content="(#ENV{robots})" />]

<!-- ------------------------------------------------------------------ -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="squelettes-dist/css/style-create.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<!-- JQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css">
<!-- JavaScript -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script> -->
<script src="squelettes/js/jquery-ui-slider.js"></script>
<script src="squelettes/js/audioPlayer.js"></script>

<!-- SELECT2 FRAMEWORK -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>


<!-- Stylesheets -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">