<B_nav>
  <div class="row nav clearfix[ (#TOTAL_BOUCLE|=={1}|oui)none] mb-2" id="nav">
  	<ul class="w-100 list-group list-group-horizontal">
  		<BOUCLE_nav(MENUS_ENTREES) {par id_menus_entree}>
        #SET{un_tableau,#PARAMETRES}
          <div class="col p-0 text-center">
            <a href="#URL_RUBRIQUE">
                <li class=" list-group-item nav-item[ (#EXPOSE)][ (#COMPTEUR_BOUCLE|=={1}|oui)first][ (#COMPTEUR_BOUCLE|=={#TOTAL_BOUCLE}|oui)last]">
                  [(#GET{un_tableau}|table_valeur{titre})]
                </li>
            </a>
        </div>
  		</BOUCLE_nav>
  	</ul>
  </div>
</B_nav>
